

.container-xxl{
    /*display: flex;*/
    background: var(--gradient-light-gradient-30, linear-gradient(90deg, #FFEFBA 0%, #FFF 100%));;
    width: 100%;
    padding: 0;
    
}

.navbar{
    display: flex;
    width: 100%;
    /*border: 4px solid green;*/
    padding-left: 3rem;
    padding-right: 2rem;
}
.logo{
display: flex;
}

.nav-list{
    display: flex;
    /*border: 1px solid blue;*/
}
.nav-list ul{
    list-style-type: none;
}

.nav-list ul li{
    display: inline;
    margin: 2.2rem;
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /*border: 2px solid  black;*/
    gap: 2rem;
    padding: 0;
    margin: 0;
}

#nav-btn{
    display: flex;
width: 140px;
height: 40px;
padding: 5px 26px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 30px;
background: var(--gradient-orange-gradient-5, linear-gradient(90deg, #FFE259 0%, #FFA751 100%));
border: none;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.btn-font{
    display: flex;
    gap: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 1141px) {
    .navbar{
        padding-left: 0;
    }

    .nav-list ul li{
    margin: 0.5rem;
}
.btn{
    gap: 1rem;
}

.btn-font{
    gap: 0.5rem;
}

#nav-btn{
    display: flex;
width: 100px;
height: 30px;
padding: 2.5px 13px;
justify-content: center;
align-items: center;

}
    
}

@media screen and (min-width: 300px) and (max-width: 789px) {
    .navbar{
        padding-right: 0;
    }
}

@media screen and (min-width: 300px) and (max-width: 766px) {
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .main{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{width: 100%;
        
    }


.left-in{
    width: 100%;
    align-items: center;
    text-align: center;
}


}

@media screen and (min-width: 305px) and (max-width: 455px) {
    .nav-list ul{
        padding: 0;
    }
    .nav-list ul li{
        font-size: 10px;
    }
    .robot img{
    width: 100%;
    height: 500px;
    }

}


.main{
    display: flex;
    padding-top: 3rem;
    gap: 3rem;
}

.left{
    display: flex;
    padding-left: 3rem;
    align-items: center;
}

.left-in{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 555px;    
}
.give-robots{
    color: #000;
font-family: Roboto;
font-size: 52px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.we-save{
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}

.bottom-btn{
    display: flex;
width: 200px;
height: 50px;
padding-top: 12px;
justify-content: center;
flex-shrink: 0;
border-radius: 30px;
border: none;
background: var(--gradient-orange-gradient-20, linear-gradient(90deg, #FF4E50 0%, #F9D423 100%));
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.right{
    display: flex;
    /*justify-content: center;*/
    align-items: center; 
}
.robot{
    display: flex;
    width: 574px;
height: 574px;
flex-shrink: 0;
}


